extends layout

block content
  h1= "plantbud // " + title
  hr
  div.row
    div.col-md-2
    div.col-md-4
      h3 Enter coordinates
    div.col-md-2(align="right")
      h3
        button.btn.btn-sm.btn-info(onclick='geolocate()') Get Location
          span.spin(style={display: 'none'})
            i(class='fa fa-star fa-pulse fa-1x fa-fw')
    div.col-md-4

  div.row
    div.col-md-2
    div.col-md-6
      div#locate-error
    div.col-md-4

  div.row
    div.col-md-2
    div.col-md-6
      form(method='POST' action='')
        div.form-group
          label(for='lat') Latitude:
          input#lat.form-control(type='text', placeholder='37.862612' name='lat' value=(undefined===coord ? '' : coord.lat))
        div.form-group
          label(for='lon') Longitude:
          input#lon.form-control(type='text', placeholder='-122.261762' name='lon' value=(undefined===coord ? '' : coord.lon))
        button.btn.btn-primary(type='submit') Submit
    div.col-md-4

  if errors
    b There were errors in your submission:
    ul
      for error in errors
        li!= error.msg

  div.row
    if coordInfo
      table(width="80%")
        thead
          tr
            td
              b Weather
            td
              b Soil
        tbody
          tr
            td
              p This is the information we have for your location.
              ul
                li Average Rainfall: #{coordInfo.avgRain} inches
                li Normal Average Temperature: #{coordInfo.avgTemp}F
                li Normal Low Temperature: #{coordInfo.minTemp}F
                li Normal High Temperature: #{coordInfo.maxTemp}F
            td
              p This is the information we have for your location.
              ul
                li Soil pH: #{coordInfo.phavg}
                li Soil BedRock Depth: #{coordInfo.bedrock_depth}
                li Soil Clay Percentage: #{coordInfo.clayFrac}%
                li Soil Slit Percentage: #{coordInfo.slitFrac}%
                li Soil Sand Percentage: #{coordInfo.sandFrac}%
    if plants
      h3 Plants
      p These are plants that would fare well given these conditions.
      b Filter
      table
        tr
          td
            div.form-check
              label.form-check-label
                input#perennial.form-check-input.filter(type="checkbox")
                span Perennials
            div.form-check
              label.form-check-label
                input#annual.form-check-input.filter(type="checkbox")
                span Annuals
          td
            div.form-check
              label.form-check-label
                input#fruit.form-check-input.filter(type="checkbox")
                span Fruits & Nuts
            div.form-check
              label.form-check-label
                input#medicinal.form-check-input.filter(type="checkbox")
                span Medicinals & Aromatic
            div.form-check
              label.form-check-label
                input#ornamental.form-check-input.filter(type="checkbox")
                span Ornamental
      form(id="plant_form" method="POST" action="map")
        table#plants.table.display(cellspacing="0" width="100%")
          thead
            tr
              td Select
              td Common Name
              td Scientific Name
              td Category
              //td Min. pH
              //td Max. pH
              td Water Needed (In)
              td Min. Temp (F)
              td Max. Temp (F)
              td Lifespan
          tbody
            each plant in plants
              tr
                td
                  div.form-check
                    label.form-check-label
                      input.form-check-input(name="select_plant" type="checkbox" value=plant._id)
                td #{plant.common_name}
                td #{plant.plant_name}
                td #{plant.category}
                //td #{plant.opt_min_pH}
                //td #{plant.opt_max_pH}
                td #{plant.opt_min_rain}
                td #{plant.optimal_min_temp}
                td #{plant.optimal_max_temp}
                td #{plant.lifespan}
        div(align="center")
          button.btn.btn-primary(type='button' onClick='validateAndSend()') Proceed to Mapping

block scripts
  script(src="/javascripts/geolocate.js")
  script(src="/javascripts/guide.js")
