extends layout

block content
  h1= "plantbud // " + title
  hr
  if coord
    button.btn.btn-sm.btn-info(onclick='useMap()') Use Map
    b &nbsp;
    button.btn.btn-sm.btn-info(onclick='useManual()') Enter Manually
    div#usemap
      h3 Map Out Perimeter
      p
        i(class="fa fa-info-circle")
        |  Manipulate the red polygon below to specify the area you wish to plant.
        |  You can add new vertices in the polygon by dragging the vertex in the middle
        |  of an edge. You can also click and drag the polygon to move the entire area.

      div#map-canvas
      br
      h4(align="right")
        |Area: 
        span#area
        |m<sup>2</sup>
        br
        span#path

    div#manual(style="display: none;")
      h3 Manual Input (Rectangle)
      div.row
        div.col-md-3
        div.col-md-6
          form(method="POST" action="layout")
            div.form-group
                div.input-group
                  input#width.form-control(type="number" name="width" placeholder="Rectangle Width" value="")
                  div.input-group-addon meters
            div.form-group
              div.input-group
                input#height.form-control(type="number" name="height" placeholder="Rectangle Height", value="")
                div.input-group-addon meters
        div.col-md-3

    div(align="center")
      form(method="POST" action="layout")
        input.hide#f-area(type="text" name="area" value=0)
        input.hide#f-verts(type="text" name="verts" value=0)
        input.hide#f-mpp(type="text" name="mpp" value=0)
        input.hide(type="text" name="lat" value=coord.lat)
        input.hide(type="text" name="lon" value=coord.lon)
        button.btn.btn-primary(type='submit') Plan!

  else
    h3
      |Please enter 
      a(href="/guide") coordinates first
      |.

block scripts
  script(src="/javascripts/google-maps.js")
  script(src="/javascripts/map.js")
  if coord
    script.
      window.onload = function() {
        initialize(#{coord.lat}, #{coord.lon});
      };
